.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, rgb(223, 126, 36), rgb(221, 146, 48));
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.calculator {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(35, 35, 207);
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

form input[type="button"]:hover {
  background-color: rgb(137, 22, 245);
}

form .display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 0px 15px 0px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgb(80, 77, 77);
  border: none; 
  color: white;
  border-radius: 10px;
  height: 60px; 
}

form input[value="CLR"] {
  width: calc(100% - 196px); 
}

form input[value="EQ"] {
  width: calc(100% - 189 px);
}
